.body {
  min-height: 15vh;
}

.heart {
  height: 400px;
  width: 400px;
  mix-blend-mode: multiply;
  transform: translateX(-50px);
}

.custom-font {
  font-family: "Redressed", cursive;
}

.bg-color {
  background-color: pink;
}

.footer {
  min-height: 50vh;
}

.text-color {
  color: pink;
}
